@model Proyecto_INE.Models.Candidato

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/Images/inne.ico">

    <link rel="shortcut icon" href="inne.ico" />
    <script language="JavaScript">
        var txt = "Instituto Nacional Electoral-INE-";
        var espera = 75;
        var refresco = null;
        function rotulo_title() {
            document.title = txt;
            txt = txt.substring(1, txt.length) + txt.charAt(0);
            refresco = setTimeout("rotulo_title()", espera);
        }
        rotulo_title();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/candidato.css" />
</head>
<body>
    <div class="container1">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <img src="~/Images/map.jpg" width="150px">
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="@Url.Action("Index", "Persona")">Inicio</a></li>
                    <li><a href="@Url.Action("Candidato", "Persona")">Candidato</a></li>
                    <li><a href="@Url.Action("ConsultaPartidosPoliticos", "Persona")">Candidato</a></li>
                    <li><a href="@Url.Action("Login", "Persona")">Votar</a></li>
                    <li><a href="@Url.Action("Contacto", "Persona")">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="column active">
            <div class="content">
                <div class="box">
                    <h2>Jaime Rodríguez Calderón</h2>
                    <p>Jaime Heliodoro Rodríguez Calderón es un político e ingeniero agrónomo mexicano. Es gobernador del estado de Nuevo León desde 2015, con 
                    licencia del cargo de enero a julio de 2018.​ Fue candidato independiente a la presidencia de México para las elecciones federales de 2018.​</p>
                </div>
            </div>
            <div class="bg bg1"></div>
        </div>

        <div class="column active">
            <div class="content">
                <div class="box">
                    <h2>Esdras López Quiroz</h2>
                    <p>
                        Esdras Yahir López Quiroz, también conocido como Lolo López, nació en Monterrey, Nuevo León un (18 de mayo de 1985)
                        es un político, politólogo y escritor mexicano, autor de muchos libros en los cuales destaca "Política Opresora",
                        donde expone la mala organización gubernamental del país.
                        <br />
                        <br />
                        Actual presidente del partido político MORENA
                    </p>
                </div>
            </div>
            <div class="bg bg2"></div>
        </div>

        <div class="column active">
            <div class="content">

                <div class="box">
                    <h2>Carlos Rodriguez</h2>
                    <p>
                        Carlos desde su infancia fue un apasionado por su nación.
                        Guerrillero y actual líder del grupo Fideos, trata de derrocar a la extrema derecha del país
                        argumentando que el socialismo es la mejor opción para detener el alto indice de crecimiento bruto del país.
                        <br />
                        <br />
                        "Convertiremos este país a lo que en realidad debe de ser"
                    </p>
                </div>


            </div>
            <div class="bg bg3"></div>
        </div>

     
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
    $(document).on("mouseover",".container .column",function(){
        $(this).addClass("active").siblings().removeClass("active")
    })
    </script>
</body>
</html>
