@model Proyecto_INE.Models.Persona

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="~/Images/inne.ico">

    <link rel="shortcut icon" href="inne.ico" />
    <script language="JavaScript">
        var txt = "Instituto Nacional Electoral-INE-";
        var espera = 75;
        var refresco = null;
        function rotulo_title() {
            document.title = txt;
            txt = txt.substring(1, txt.length) + txt.charAt(0);
            refresco = setTimeout("rotulo_title()", espera);
        }
        rotulo_title();
    </script>
    <link rel="stylesheet" type="text/css" href="~/css/Normas.css" />
</head>
<body>



    <div class="container">
        <nav>
            <input type="checkbox" id="nav" class="hidden">
            <label for="nav" class="nav-btn">
                <i></i>
                <i></i>
                <i></i>
            </label>
            <div class="logo">
                <img src="~/Images/map.jpg" width="150px">
            </div>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="@Url.Action("Index", "Persona")">Inicio</a></li>
                    <li><a href="@Url.Action("Candidato", "Persona")">Candidato</a></li>
                    <li><a href="@Url.Action("ConsultaPartidosPoliticos", "Persona")">Candidato</a></li>
                    <li><a href="@Url.Action("Login", "Persona")">Votar</a></li>
                    <li><a href="@Url.Action("Contacto", "Persona")">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>



    <div class="contenedor">
        <div class="cities">
            <h2>AVISO DE PRIVACIDAD (INTEGRAL)</h2>
            <p>De la Base de Datos Personales denominada “Registro de participantes y seleccionados para las modalidades 1, 2 y 3 del “Programa Nacional de Impulso a la Participación Política de la Mujer a través de Organizaciones de la Sociedad Civil 2017 (BDP)</p>
        </div>

        <div class="cities">
            <h2>¿Quién es el responsable de tus datos personales?</h2>
            <p>

                El Instituto Nacional Electoral (INE), a través de la Dirección Ejecutiva de Capacitación Electoral y Educación Cívica (DECEyEC), con domicilio en Viaducto Tlalpan #100, Edif. “C”, Tercer Piso, Col. Arenal Tepepan, Del. Tlalpan, C.P. 14610, Ciudad de México, es el responsable del tratamiento de los datos personales proporcionados y de protegerlos en términos de lo dispuesto en la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados (LGPDPPSO) y demás normatividad que resulte aplicable.

                Los datos personales recabados serán incorporados y tratados en la BDP denominada “Registro de participantes y seleccionados para las modalidades 1, 2 y 3 del “Programa Nacional de Impulso a la Participación Política de la Mujer a través de Organizaciones de la Sociedad Civil 2017”, la cual se encuentra registrado en el “Listado de BDP del INE”, publicado en la página de internet del propio Instituto.

            </p>
        </div>

        <div class="cities">
            <h2>¿Para qué fines o finalidades utilizamos tus datos personales?</h2>
            <p>
                Los datos personales que solicitamos serán utilizados para: a) integrar los expedientes de participación en el “Programa Nacional de Impulso a la Participación Política de las Mujeres a través de Organizaciones de la Sociedad Civil 2017”; b) notificar a las y los participantes cuestiones relativas con el Programa, y c) mantener contacto con las y los participantes, así como con las y los representantes de las organizaciones de la sociedad civil, en caso de resultar ganadoras, para dar seguimiento al cumplimiento de la implementación de los proyectos.

            </p>
        </div>

        <div class="cities">
            <h2>¿Qué datos personales recabamos? </h2>
            <p>
                Para cumplir con la o las finalidades anteriores, los datos personales que utilizaremos son los siguientes: nombre completo, domicilio, correo electrónico y teléfono de los particulares, y profesión u ocupación.

            </p>
        </div>

        <div class="cities">
            <h2>¿Cuál es el fundamento legal que faculta al INE para realizar el tratamiento de tus datos?</h2>
            <p>

                El INE, a través de la DECEyEC, trata tus datos personales con fundamento en los artículos 58, numeral 1, inciso a) y g) de la Ley General de Instituciones y Procedimientos Electorales, y 49 numeral 1, inciso a), h), q) y v) del Reglamento Interior del Instituto Nacional Electoral.
            </p>
        </div>

        <div class="cities">
            <h2>¿Cómo y en dónde puede ejercer sus derechos de acceso, rectificación, cancelación y oposición de datos personales (derechos ARCO)?</h2>
            <p>

                Usted podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición al tratamiento de sus datos personales (derechos ARCO) contenidos en la BDP, directamente ante la Unidad de Transparencia del INE, ubicada en Viaducto Tlalpan #100, Edif. "C", 1er. Piso, Col. Arenal Tepepan, Del. Tlalpan, C.P. 14610, Ciudad de México, de 9:00 a 18:00 horas, de lunes a viernes en días hábiles, o bien, a través de la Plataforma Nacional de Transparencia (http://www.plataformadetransparencia.org.mx/).

                Si deseas conocer el procedimiento para el ejercicio de los derechos ARCO, puedes acudir a la Unidad de Transparencia del INE, enviar un correo electrónico a la siguiente dirección transparencia@ine.mx o comunicarte a INETEL (018004332000)
            </p>
        </div>

        <div class="cities">
            <h2>¿Con quién compartimos tus datos personales?</h2>
            <p>

                Los datos personales contenidos en la BDP únicamente serán utilizados para las finalidades para las que fueron recabados, sin que en ningún momento puedan ser transferidos a terceros.
            </p>
        </div>

        <div class="cities">
            <h2>Aviso de Privacidad Integral y sus cambios</h2>
            <p>

                El presente aviso de privacidad integral y los cambios que se realicen al mismo, podrá consultarlo en el siguiente sitio
                <a href="http://www.ine.mx/archivos3/portal/historico/contenido/XXXII_Listado_de_sistemas_de_datos_personales/." target="_blank"> http://www.ine.mx/archivos3/portal/historico/contenido/XXXII_Listado_de_sistemas_de_datos_personales/.</a>
            </p>
        </div>

        <div class="cities">
            <h2>Lo anterior se informa en cumplimiento a los artículos 3, fracción II, 26, 27 y 28 de la LGPDPPSO.</h2>

        </div>



    </div>

    <a type="submit" value="Confirmar" href="@Url.Action("BoletaPresidente","Persona")" class="button">Aceptar</a>

</body>
</html>
